.fade {
    -webkit-animation: fadeOut 2s forwards;
    animation: fadeOut 2s forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    color: red;
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes {
    from {opacity: 1;}
    to {opacity: 0;}
}
