body {
    font-family: 'Roboto', sans-serif;
    background: #eeeeee;
}

.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px;
}

h3 {
    margin: 10px;
    font-size: 1.4em;
}

.info {
    font-style: italic;
    text-indent: 10px;
}

#save {
    position: relative;
    vertical-align: top;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    border-bottom: 2px solid #bdbdbd;
    width: 60px;
    height: 30px;
    -webkit-box-shadow: inset 0 -2px #bdbdbd;
    box-shadow: inset 0 -2px #bdbdbd;
    margin: 5px 0 0 5px;
}

#save:active {
    top: 1px;
    outine: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#status {
    margin: 10px;
    color: #d01716;


}

.fade {
    -webkit-animation: fadeOut 2s forwards;
    animation: fadeOut 2s forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes {
    from {opacity: 1;}
    to {opacity: 0;}
}
